.badgesection {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 80px;
  color: white;
}
.img-text {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 200px;
  gap: 25px;
  align-items: center;
  justify-content: center;
}
