.home {
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
  flex-direction: column;
}

.content {
  background-image: linear-gradient(
      180deg,
      rgb(0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 21%,
      rgba(3, 3, 3, 0.897) 38%,
      rgba(255, 255, 255, 0.01453081232492992) 80%
    ),
    url("../../res/ParallelxImages/pImage1.jpg");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  width: 100%;
  min-height: 100vh !important;
  text-align: center;
  color: #fff;
  top: 9vh;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 2;
  display: flex;
  flex: 1;
  gap: 10%;
}
.content .left {
  display: flex;
  flex-direction: column;
  color: aliceblue;
  align-items: flex-start;
  padding-top: 2%;
  padding-left: 10%;
  flex: 0.6;
  text-align: left;
  gap: 2%;
}
.content .right {
  color: aliceblue;
  padding: 50px;
  width: 50%;
  height: 70%;
  flex: 0.4;
}
.wappBar {
  height: 50px;
  width: 90px;
  position: sticky;
  top: 50vh;
  left: 95%;
  background: rgba(221, 219, 219, 0.6);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: green;
}
