.home {
  height: 90vh;
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
  margin-top: 9vh;
  background: rgb(0, 0, 0);
}
.effect {
  position: absolute;
  top: 9vh;
  left: 0px;
  height: 100%;
  width: 100%;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgb(0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 21%,
    rgba(3, 3, 3, 0.897) 38%,
    rgba(255, 255, 255, 0.01453081232492992) 80%
  );
  opacity: 0.9;
}
.home-img {
  height: 100%;
  width: 100%;
  object-fit: fill;
}
.content {
  position: absolute;
  top: 15vh;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}
.content .left {
  display: flex;
  flex-direction: column;
  color: aliceblue;
  align-items: flex-start;
  padding-top: 2%;
  padding-left: 10%;
  flex: 0.5;
}
.content > .left > span:nth-child(1) {
  font-size: 3em;
  font-weight: 700;
  color: white;
}
.content > .left > span:nth-child(2) {
  font-size: 2.5em;
  font-weight: 700;
  color: white;
  text-align: start;
}
.content > .left > span:nth-child(3) {
  font-size: 1.2em;
  font-weight: 700;
  color: white;
  align-items: start;
  justify-content: start;
}
.content > .left > span > span {
  font-size: 1.1em;
  font-weight: 700;
  color: rgb(247, 180, 24);
}
.content .right {
  color: aliceblue;
  padding-top: 0%;
  padding-left: 0%;
  width: 50%;
  flex: 0.4;
}
.wappBar {
  height: 50px;
  width: 90px;
  position: absolute;
  top: 40%;
  left: 95%;
  background: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: green;
}
