.tagline {
  background-color: rgb(231, 229, 229);
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 5vh;
  padding-bottom: 5vh;
  gap: 50px;
}
.taglinespan1 {
  font-weight: 500;
  font-size: 40px;
}
.taglinespan2 {
  font-weight: 100;
  font-size: 25px;
}
.taglinespan3 {
  background-color: rgb(241, 112, 112);
  font-size: 1em;
  font-weight: bold;
  color: white;
  border-radius: 25px;
  padding: 10px 25px 10px 25px;
}
.taglinespan3:hover {
  cursor: pointer;
}
.alertdialog {
  display: flex;
  position: absolute;
  /* top: 5%;
  left: 40%; */
  left: 40%;
  height: 80vh;
  border-radius: 5px;
  background-color: rgba(177, 169, 169, 0.6);
  z-index: 2;
  padding: 30px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  align-items: center;
  justify-content: center;
}
.alertdialog-mobile {
  position: absolute;
  /* top: 10%; */
  margin: auto;
  left: 5%;
  height: 80%;
  width: 90%;
  border-radius: 5px;
  background-color: rgba(10, 8, 8, 0.6);
  z-index: 9;

  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  align-items: center;
  justify-content: center;
}
.alertdialog_container {
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
}
.alertdialog_container-mobile {
  /* display: flex; */
  height: 100%;
  width: 100%;
}
.taglinespan3_alertdialog_cls_button-mobile {
  position: absolute;
  top: 2%;
  left: 80%;
  border-radius: 40%;
  border: none;
  z-index: 9;
}
.taglinespan3_alertdialog_cls_button {
  position: absolute;
  top: 30px;
  left: 80%;
  border-radius: 40%;
  border: none;
}
.taglinespan3_alertdialog_cls_button :hover {
  cursor: pointer;
}
