.sliding_panel_parent {
  display: flex;
  margin-top: 100px;
  width: 80vw;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  color: white;
}
.my_swiper {
  display: flex;
  height: 100%;
  width: 90%;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 600px) {
  .my_swiper {
    display: flex;
    height: 100%;
    width: 100vw;
    align-items: center;
    justify-content: center;
  }
}

.sliding_panel_heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 2vh;
  padding-left: 20px;
}
.sliding_panel_heading_mobile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 5%;
  margin-bottom: 2vh;
}
.sliding_panel_heading span:nth-child(1) {
  font-size: 35px;
  font-weight: 600;
  align-items: flex-start;
  justify-content: flex-start;
}
.sliding_panel_heading_mobile span:nth-child(1) {
  font-size: 35px;
  font-weight: 600;
}
.sliding_panel_heading span:nth-child(2) {
  font-size: 25px;
  font-weight: 300;
}
.sliding_panel_heading_mobile span:nth-child(2) {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-content: start;
  font-size: 18px;
  font-weight: 300;
  text-align: left;
}
