.how-it-works-working-parent {
  height: 60vh;
  margin-top: 30vh;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.how-it-works-badges {
  background: rgb(160, 0, 217);
  background: linear-gradient(
    76deg,
    rgba(160, 0, 217, 1) 0%,
    rgb(246, 37, 18) 47%,
    rgba(231, 13, 223, 1) 98%
  );
  width: 60px !important;
  height: 60px !important;
  padding: 50px;
}
.avtar-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18vw;
  flex-direction: column;
  gap: 16px;
}
