.design-ideas {
  display: flex;
  flex-direction: column;
  margin-top: 110px;
}
.designIdeaPanel {
  display: flex;
  width: 100%;
  align-items: start;
  flex-direction: column;
  gap: 20px;
}
.view {
  border: 1px solid black;
  height: 200px;
  width: 35% !important;
}
